::-webkit-scrollbar {
  width: 6px;
  background-color: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $light;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: $font-inter;
  background-color: $white;
  color: $dark;
  font-size: $fs-small;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

body,
#root {
  height: 100%;
  width: 100%;
}
