.content {

    &__profile-enter {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        text-align: center;

        h3 {
            font-weight: 700;
        }

        form {
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            input {
                border: none;
                outline: none;
                padding: 10px 5px;
                border-radius: 10px;

                &::placeholder {
                }
            }

            button {
                width: fit-content;
                margin: 0 auto;
                border: none;
                margin-top: 10px;
                padding: 10px;
                border-radius: 5px;
            }
        }
    }

    &__profiles-found {
        margin: 70px 20px 0;

        > span {
            font-weight: 200;
        }

        &--cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            margin-top: 20px;
            gap: 15px;
        }
    }
}