.header {
    display: flex;
    align-items: center;
    padding-left: 10px;
    
    &__title {
        flex: 1;
        font-size: 24px;
        font-weight: 900;
    }

    &__social-media {
        display: flex;
        background-color: $light;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        column-gap: 20px;
        padding-right: 20px;

        &--item {
            .icon {
                &__social-media {
                  width: 43px;
                }
              }
              
        }
    }
}