$font-inter: "Inter Tight", sans-serif;

$dark: #1e1e1e;
$light: #f4f9e9;
$white: #fff;
$default-bg: rgba(219, 219, 219, 0.2);
$gray: rgba(0, 0, 0, 0.5);

$fs-x-small: 0.65rem;
$fs-small: 1.1rem;
$fs-medium: 1.7rem;
$fs-large: 2.5rem;
$fs-x-large: 4rem;
